@import url(https://fonts.google.com/specimen/Roboto);

.background-color{
    background-color: rgb(178, 190, 181);
}

body{
    padding: 0;
}

main{
    padding: 16px;
}

footer{
    padding-top: 24px;
    padding-right: 0;
    padding-bottom: 24px;
    padding-left: 0;
    bottom: 0;
    width: 100%;
    height: 60px;   /* Height of the footer */
}

img{
    height: 200px;
}

nav{
    border-bottom: 1px black;
    padding: 16px;
}
.linkh{
    color: rgb(184, 37, 32);
}
.linkh:hover{
    color: rgb(122, 20, 20);
}

.header{
    background-color: rgb(122, 20, 20);
}

.header-link{
    color: white;
}
.header-link:hover{
    color: rgb(117, 128, 117);
}
a:link{
    text-decoration: none;
}

tr:nth-child(even){
    background-color: rgb(160, 145, 145);
}

.footer{
    color: white;
    background-color: rgb(122, 20, 20);
    bottom : 2px;
    height : 40px;
    margin-top : 40px;
    text-align: center;
    vertical-align: middle;
    width:100%;

}

.grid-div{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 15px;
}

.box-shadow{
    box-shadow: 12px 12px 2px 1px rgba(75, 75, 82, 0.2);
}

.review{
    padding: 9px;
}

img:hover{
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition:.5s;
    box-shadow: 10px 10px 5px rgb(122, 20, 20);
  }